# dependencies
node_modules/

# generated
/build/
/.svelte-kit/
/package/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# configuration
.env
.env.*
!.env.example
/.replit/
/.replit.nix
/.vscode/settings.json
pnpm-lock.yaml
# data
*.sqlite
*.sqlite3
*.db
/.idx/.data

# macOS
.DS_Store
